<!doctype html>
<html>
  <head>
    <title>Meadowlark Travel</title>
  </head>
  <body>
      <header>
          <img src="/img/logo.png" alt="Meadowlark Travel Logo" width="50" height="50"node>
      </header>
    {{{body}}}
  </body>
</html>